# Ignorar todo
*

# Permitir navegar directorios
!*/

# Permitir archivos principales
!main.cpp
!CMakeLists.txt
!*.frag
!*.vert

# Permitir carpeta src completa
!src/
!src/**

# Ignorar explícitamente build
build/
externals